@font-face {
     font-family: 'Simplified Arabic';
     src: url("font/SimplifiedArabic.ttf");
}
*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}

/* header  */
.how{
     width: 100%;
     height: 55px;
     margin: 25px;
}
.hul{
     display: flex;
     justify-content: space-evenly;
     list-style: none;
}
.hul .list-items{
     padding: 5px;
}
.hul .list-items .link-links{
     text-decoration: none;
     font-family: ui-monospace;
     font-size: 25px;
     color: #000;
}
/* End header */

/* ======================================================== */

/* div two */
.art-t{
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr ;
     margin-right: 50px;
     margin-left: 50px;
}
.article{
     display: grid;
     text-align: center;
     grid-template-rows: 20% 80%;
}
.article h1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article .p{
     color: rgb(82, 82, 82);
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 21px;
     font-family: monospace;
}
.art-img{
          border-radius: 6px;
}
.art-img img{
     border-radius: 5px;
}
/* End div two */

/* Links  */
.links {
     display: flex;
     height: 215px;
     flex-direction: column;
     align-items: center;
     text-align: left;
     justify-content: space-around;
}
.links > ul{
     list-style-type: disclosure-closed;
}
.links > ul > li > a{
     font-size: 30px;
     color: inherit;
     font-family: monospace;
}
















@media only screen and (max-width: 600px) {
.art-t{
     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr ;
     margin-right: 50px;
     margin-left: 50px;
}
.art-img{
          box-shadow: 0px 0px 1px 2px #a2a4ab;
          border-radius: 6px;
}
}