@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 1000px;
}
.container {
  display: grid;
  grid-template-areas:
    "navbar"
    "conten";
  width: 100%;
}
.navbar {
  background-color: #6d749b;
  padding: 20px;
}
.navbar > ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.navbar > ul > li {
  font-size: 25px;
}
.navbar > ul > li > a {
  color: white;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  padding: 50px;
}
.nv {
  display: flex;
  justify-content: space-evenly;
  width: 72%;
  margin: 50px auto;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
}
.nv > div {
  margin: 15px;
}
.conten > .im > img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.de > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 325px;
}
.de > article > h1 {
  font-size: 50px;
  font-weight: 300;
}
.de > article > p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  opacity: 0.6;
}
.de > article > button {
  padding: 20px;
  width: 62%;
  outline: none;
  border: none;
  border-radius: 9px;
  background: #6d749b;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
/* container 2 */
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ccc; */
}

.con21_div > article > h2 {
  text-align: center;
  margin: 10px;
}
.con21_div > article > p {
  font-family: "Lexend Deca", sans-serif;
  opacity: 0.5;
  margin: 5px;
}

.con22_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
}
.con22_div > article {
  width: 29%;
  background-color: #fff;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px -4px rgb(0 0 0), 0px 5px 7px -7px rgb(0 0 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
}
.con22_div > article > p {
  font-family: "Lexend Deca", sans-serif;
  opacity: 0.5;
}
.con22_div > article > header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.con22_div > article > header > i {
  font-size: 90px;
  color: #e07575;
}
footer {
    width: 100%;
    padding: 50px;
    background: #6d749b;
}
footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
footer ul > li > a > i {
  font-size: 40px;
}
footer ul > li > a > i {
  color: white;
}

@media only screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  .nv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72%;
    margin: 50px auto;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
  }
  .de > article > button {
    width: 100%;
  }
  .nv > div {
    margin: 20px;
  }
  .con22_div {
    flex-direction: column;
  }
  .con22_div > article {
    width: 100%;
    margin: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
  }
  .nv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px auto;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
  }
  .de > article > button {
    width: 100%;
  }
  .nv > div {
    margin: 20px;
  }
  .con22_div {
    flex-direction: column;
  }
  .con22_div > article {
    width: 80%;
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
  }
  .nv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px auto;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
  }
  .navbar > ul {
    justify-content: space-between;
  }
  .navbar > ul > li > a {
    color: white;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    padding: 0;
  }
  .de > article > button {
    width: 100%;
  }
  .nv > div {
    margin: 20px;
  }
  .con22_div {
    flex-direction: column;
  }
  .con22_div > article {
    width: 80%;
    margin: 10px;
  }
}
